body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}


.quiz-container {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(17, 15, 15, 0.2);
}


.quiz-container h1 {
    margin-top: 20px;
    color: #333;
}


#start {
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background: #6c63ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#start:hover {
    background: #574fd6;
}


#question {
    margin-bottom: 15px;
    color: #222;
}


#options button {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #6c63ff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#options button:hover {
    background: #574fd6;
    transform: scale(1.03);
}


#time, #progress {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}


#result {
    margin-top: 20px;
}

#score {
    color: #333;
    margin-bottom: 10px;
}


#restart {
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background: #2393f6;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#restart:hover {
    background: #1dcee1;
}